{% extends "auctions/layout.html" %}

{% block body %}
    <h2>{{ category }}</h2>
    <div class="listings">
        {% for auction in livelistings %}
            <div class="listing">
                <h3><a href="{% url 'listing' auction.id %}">{{ auction.title }}</a></h3>
                <p class="index-price">Current price: $ {{ auction.current_price }}</p>
                {% if auction.url.url %}
                <img src="{{ auction.url.url }}" alt="Image" class="index-image">
                {% endif %}
                <p class="index-description">{{ auction.description }}</p>
            </div>
        {% endfor %}
    </div>
    {% if deadlistings %}
        <h3>Closed</h3>
        <div class="listings">
            {% for auction in deadlistings %}
                <div class="listing">
                    <h3><a href="{% url 'listing' auction.id %}">{{ auction.title }}</a></h3>
                    <p class="index-price">Current price: $ {{ auction.current_price }}</p>
                    {% if auction.url.url %}
                    <img src="{{ auction.url.url }}" alt="Image" class="index-image">
                    {% endif %}
                    <p class="index-description">{{ auction.description }}</p>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}