{% extends "auctions/layout.html" %}
{% block title %} Create Page {% endblock %}
{% block body %}
    <h2>Create New Listing</h2>
    <form action="{% url 'create' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input class="form-control" autofocus type="text" name="title" placeholder="Title">
        </div>
        <div class="form-group">
            <input class="form-control" type="textarea" name="description" placeholder="Description">
        </div>
        <div class="form-group">
            <input class="form-control" type="number" name="starting" placeholder="Starting Bid">
        </div>
        <div class="form-group">
            <input class="form-control" type="text" name="URL" placeholder="URL for image">
        </div>
        <input class="btn btn-primary" type="submit" value="Register">
    </form>
{% endblock %}