{% extends "auctions/layout.html" %}
{% block title %} Auction {% endblock %}

{% block body %}
    <img src="{{ listing.url.url }}" alt="Image" class="listing-image">
    <h2>{{ listing.title }}</h2>
    <p><span class="infotext">Description:</span> {{ listing.description }}</p>
    <p><span class="infotext">Current price is:</span> $ {{ listing.current_price }} <span class="infotext"> from </span> {{ listing.winner }} </p>
    <p><span class="infotext">Category:</span> {{ listing.get_category_display }}</p>

    {% if user.is_authenticated %}
        {% if listing.closed %}
        <div class="alert alert-danger center-alert">This listing is closed!</div>

        {% elif owner %}
            <form action="{% url 'listing' listing.id %}" method="post">
                {% csrf_token %}
                <input class="btn btn-primary center-button" type="submit" name="close" value="Close listing">
            </form>

        {% else %}
            <form action="{% url 'listing' listing.id %}" method="post">
                {% csrf_token %}
                <input class="btn btn-secondary" type="submit" name="watchlist" value="{{ watchlist_text }}">
            </form>

            {% if message %}
                <div class="alert alert-danger center-alert">{{ message }}</div>
            {% endif %}

            <form action="{% url 'listing' listing.id %}" method="post">
                {% csrf_token %}
                <div class="form-group bidform">
                    {{ bidform.bid_price.label_tag }}
                    {{ bidform.bid_price }}
                </div>
                <input class="btn btn-primary center-button" type="submit" name="bid" value="Make a bid">
            </form>
        {% endif %}
    {% endif %}
{% endblock %}