{% extends "auctions/layout.html" %}
{% block title %} Auction {% endblock %}

{% block body %}
    <h2>{{ listing.title }}</h2>
    {% if listing.url %}
    <img src="{{ listing.url }}" alt="Image" class="listing-image">
    {% endif %}
    <p><span class="infotext">Listed by:</span> {{ listing.user }}</p>
    <p><span class="infotext">Description:</span> {{ listing.description }}</p>
    <p><span class="infotext">Current price is:</span> ${{ listing.current_price }} <span class="infotext"> from </span> {{ listing.winner }} </p>
    <p><span class="infotext">Category:</span> {{ listing.get_category_display }}</p>

    {% if listing.closed %}
        {% if winner %}
            <div class="alert alert-success center-alert">Congratulations! You won the {{ listing.title }} for {{ listing.current_price }}!</div>
        {% endif %}
        <div class="alert alert-danger center-alert">This listing is closed!</div>


    {% elif owner %}
        <form action="{% url 'listing' listing.id %}" method="post">
            {% csrf_token %}
            <input class="btn btn-primary center-button" type="submit" name="close" value="Close listing">
        </form>

    {% else %}
        {% if message %}
            <div class="alert alert-danger center-alert">{{ message }}</div>
        {% endif %}

        <form action="{% url 'listing' listing.id %}" method="post">
            {% csrf_token %}
            <div class="form-group bidform">
                {{ bidform.bid_price.label_tag }}
                {{ bidform.bid_price }}
            </div>
            <div class="buttons">
              <input class="btn btn-primary center-button" type="submit" name="bid" value="Make a bid">
              <input class="btn btn-secondary" type="submit" name="watchlist" value="{{ watchlist_text }}">
            </div>
        </form>
    {% endif %}

    <div class="comments">
        <h3>Comments</h3>

        <div class="read-comments">
            {% for comment in comments %}
              <div class="comment">
                  <h4>{{ comment.user }}</h4>
                  <p>{{ comment.text }}</p>
                  <p class="datetime">{{ comment.datetime }}</p>
              </div>
            {% endfor %}
        </div>

        <form action="{% url 'listing' listing.id %}" method="post" class="commenting">
            {% csrf_token %}
            <div class="form-group commentarea">
                <label for="id_text">Add comment: </label>
                {{ commentform.text }}
            </div>
            <input class="btn btn-info" type="submit" name="commentpost" value="Comment">
        </form>
    </div>
{% endblock %}