{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Watchlist</h2>
    <div class="listings">
        {% for auction in liveauctions %}
            <div class="listing">
                <h3><a href="{% url 'listing' auction.listing.id %}">{{ auction.listing.title }}</a></h3>
                <p class="index-price">Current price: $ {{ auction.listing.current_price }}</p>
                {% if auction.listing.url.url %}
                <img src="{{ auction.listing.url.url }}" alt="Image" class="index-image">
                {% endif %}
                <p>{{ auction.listing.description }}</p>
            </div>
        {% endfor %}
    </div>
    {% if deadauctions %}
        <h3>Closed</h3>
        <div class="listings">
            {% for auction in deadauctions %}
                <div class="listing">
                    <h3><a href="{% url 'listing' auction.listing.id %}">{{ auction.listing.title }}</a></h3>
                    <p class="index-price">Current price: $ {{ auction.listing.current_price }}</p>
                    {% if auction.listing.url.url %}
                    <img src="{{ auction.listing.url.url }}" alt="Image" class="index-image">
                    {% endif %}
                    <p>{{ auction.listing.description }}</p>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}